<div class="back-button">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
  <% end %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="my-3">Your Groups</h1>
      <ul><% @groups.each do |group|%>
          <li><%= group.name %><br>
            Edit Group</li>
        <%end%>
      </ul>
    </div>
    <div class="col-12">
      <h1 class="my-3">Create a Trip</h1>
      <form action="/groups/new">
        <label for="group">Create a Trip</label>
        <input class="form-inputs" type="text" name="group" placeholder = "Trip Name">
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
<%console%>
