<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <h2>Your Groups</h2>
      <% if @memberships.any? %>
        <ul class="list-group">
          <% @memberships.each do |membership| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= membership.group.name %>
              <div>
                <%= link_to "Open", group_path(membership.group), class: "btn btn-info btn-sm" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>You have no groups yet.</p>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <%= link_to "New Group", new_group_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<%console%>
