<div class="home-screen overflow-auto">
  <div class="section">
    <div class="steps-title">
      <h2 class="d-flex text-center justify-content-center align-items-center" style="max-width:70%">Discover where you all want to go next!</h2>
    </div>
    <%= image_tag "home_stepsKK3.png", style: "width:85vw; margin-inline:auto; margin-top:30px" %>
    <div class="cta-center">
      <h2 class="">Click Below To Get Started</h2>
      <a class="home-plus-button-primary" href="/groups"><i class="fa-solid fa-plus fa-xl" style="color: #ffffff;"></i></a>
    </div>
  </div>
</div>
<%console%>
