<div class="landing-page">
  <div class="landing-logo">
    <%= image_tag "KK_logo_H1_lg.png", style: "width: 50vw" %>
  </div>
  <div class="landing-text">
    Find the best place to travel, together
  </div>
  <div class="button-container">
    <div class="button">
      <div id="get-started">
        Get Started
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'index' %>
<%console%>
